//meadia mixin start
@mixin large{
    @media (min-width: 1200px) {
        @content;
    }
}
@mixin med{
    @media (min-width: 992px){
        @content;
    }
}
@mixin small{
    @media (min-width: 768px){
        @content;
    }
}
//meadia mixin end

//overlay mixin start
@mixin overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    @include prefixer(transition, 0.3s ,webkit moz o ms)
};
//overlay mixin end

//prefixer start

@mixin prefixer($property , $value , $prefixes: ()) {
    @each $prefix in $prefixes {
        #{'-' + $prefix + '-' + $property}:$value;
    };
    #{$property}:$value;
};

//prefixer end